<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832315402538-afubptv16fauvldbfoavhdgt65k7s74b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832315402538-afubptv16fauvldbfoavhdgt65k7s74b</string>
	<key>API_KEY</key>
	<string>AIzaSyATpOPnNSva2bvUXCIxKwwX12P3PDMy-YU</string>
	<key>GCM_SENDER_ID</key>
	<string>832315402538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.olxi</string>
	<key>PROJECT_ID</key>
	<string>olxi-13e0c</string>
	<key>STORAGE_BUCKET</key>
	<string>olxi-13e0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832315402538:ios:0e0c397d81a5148a691653</string>
</dict>
</plist>